<script language = "javascript">
function start_countdown() {
    var block = document.getElementById('sample_countdown');
    simple_timer(<%= @time_left %>, block);
}

start_countdown()

</script>

<%= render :partial => 'game/noutice' %>


<table id="Table_01" width="800" height="789" border="0" cellpadding="0" cellspacing="0" background= "images/board.jpg">
    <tr>
        <td rowspan="2">
            <img src="/images/blank.png" width="43" height="789" alt=""></td>

        <% 12.downto(7) do |k| %>
                <td> <% if @condition[k][2] == "t" || (@condition[k][2] == "f" && @condition[k][0] != 0) %>
                        <%= link_to image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395), 
                            url_for({:controller => 'game', :action => 'move', :id => k}), :remote => true %>
                    <% elsif @condition[k][0] == 0 %>
                        <%= image_tag("/images/blank.png", :width => 53, :height => 395) %>
                    <% else %>
                        <%= image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395) %>
                    <% end %>
                </td>
            <% end %>  

        <td><img src="/images/blank.png" width="79" height="395" alt=""></td>
 
        <% 6.downto(1) do |k| %>
                <td> <% if @condition[k][2] == "t" || (@condition[k][2] == "f" && @condition[k][0] != 0) %>
                        <%= link_to image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395), 
                            url_for({:controller => 'game', :action => 'move', :id => k}), :remote => true %>
                    <% elsif @condition[k][0] == 0 %>
                        <%= image_tag("/images/blank.png", :width => 53, :height => 395) %>
                    <% else %>
                        <%= image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395) %>
                    <% end %>
                </td>
            <% end %>  
 
        <td><img src="/images/blank.png" width="39" height="395" alt=""></td>
    </tr>
    <tr>

        <% 13.upto(18) do |k| %>
                <td> <% if @condition[k][2] == "t" || (@condition[k][2] == "f" && @condition[k][0] != 0) %>
                        <%= link_to image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395), 
                            url_for({:controller => 'game', :action => 'move', :id => k}), :remote => true %>
                    <% elsif @condition[k][0] == 0 %>
                        <%= image_tag("/images/blank.png", :width => 53, :height => 395) %>
                    <% else %>
                        <%= image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395) %>
                    <% end %>
                </td>
            <% end %>  

        <td><img src="/images/blank.png" width="79" height="394" alt=""></td>
 
        <% 19.upto(24) do |k| %>
                <td> <% if @condition[k][2] == "t" || (@condition[k][2] == "f" && @condition[k][0] != 0) %>
                        <%= link_to image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395), 
                            url_for({:controller => 'game', :action => 'move', :id => k}), :remote => true %>
                    <% elsif @condition[k][0] == 0 %>
                        <%= image_tag("/images/blank.png", :width => 53, :height => 395) %>
                    <% else %>
                        <%= image_tag("/images/#{@condition[k][0]}#{@condition[k][1]}d#{@condition[k][2]}.png", :width => 53, :height => 395) %>
                    <% end %>
                </td>
            <% end %>  

     <td> <% if @out_board_moves %>
        <%= link_to image_tag("/images/gg.png", :width => 39, :height => 394), 
            url_for({:controller => 'game', :action => 'out_board'}), :remote => true %>
        <% elsif %>
            <img src="/images/blank.png" width="39" height="394" alt="">
        <% end %>
         </td>
    </tr>
</table>