<center><h1> The Game is Launching </h1></center>


<%= render :partial => 'countdown.js' %>




<%= @one %> <br>
<%= @two %> <br>
<%= @three %> <br>

<div id="game_area"><!-- --></div>
        <%= render 'chat/chat_form' %>



