<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag :application %>
<%= csrf_meta_tag %>
  <title>LoginApp</title>
  <link href="/assets/css/custom.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<%= render :partial => 'ajax/ajax.js' %> 
<div id="nav">
        <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>
        <%= link_to "Register", new_user_path%> | 
        <%= link_to "Login", :login %>
        <% end %>
    </div>
 
 
<%= yield %>
<div id="reload_area"><!-- --></div>
</body>
</html>
